$bg-blue: #0366d6;
$gray: #586069;
$light-gray: #e1e4e8;
$scarlet-red: #e34c26;
$mellow-yellow: #f1e05a;
$plum-purple: #563d7c;
$lovely-pink: #c6538c;

body {
  font-family: 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

ul {
  display: inline-flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.block {
  display: flex;
  padding: 24px 0;
  border-bottom: 1px solid $light-gray;
  .top{
    margin-bottom: 3px;
  }
  .middle {
    margin-bottom: 8px;
  }
  .bottom {
   display: flex;
   font-weight: 400;
   margin-top: 8px;
  }

  .info {
    display: inline-flex;
    flex-direction: column;
    width: 60vw;
    padding-right: 25vw;
  }
}

a {
  text-decoration: none;
  color: $gray;
  &.repo-link{
    color: $bg-blue;
    &:hover{
      text-decoration: underline;
    }
  }
}



.language {
  margin: 0 16px 0 0;
}

.HTML:before {
  vertical-align: middle;
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: $scarlet-red;
  margin-right: 4px;
}
.JavaScript:before {
  vertical-align: middle;
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: $mellow-yellow;
  margin-right: 4px;
}
.CSS:before {
  vertical-align: middle;
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: $plum-purple;
  margin-right: 4px;
}
.SCSS:before {
  vertical-align: middle;
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: $lovely-pink;
  margin-right: 8px;
}
.text-gray {
  color: $gray;
}

h3, h4 {
  font-weight: 600;
  font-size: 1.4em;
  display: inline;
}

button {
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  border: 1px solid;
  border-radius: 6px;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  color: #24292e;
  background-color: #fafbfc;
  border-color: rgba(27,31,35,.15);
  box-shadow: 0 1px 0 rgba(27,31,35,.04), inset 0 1px 0 hsla(0,0%,100%,.25);
  transition: background-color .2s cubic-bezier(.3,0,.5,1);
  .iconify {
    margin-right: 4px;
    vertical-align: middle;
    font-size: 1.5em;
    font-weight: bold;
  }
  & > .text {
    vertical-align: middle;
    font-weight: 600;
  }
  &:hover {
    background-color: #eaebec;
  }
}
